# --- .dockerignore ---

# Virtual environments / temp files

venv/
**pycache**/
\*.pyc
node_modules/
.git
.gitignore
.DS_Store

# Large or unnecessary files

_.mp4
_.avi
_.zip
_.tar
_.tar.gz
_.rar
_.ipynb
uploads/
dataset*split/
prediction_page*_.png

# Optional: if models are too large for upload

model/_.keras
model/_.npy
